body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.card {
  width: 372px;
  margin-top: 120px;
}

* {
  box-sizing: border-box;
}
